.exerciseContainer {
  box-shadow: 5px 5px 19px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 19px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 19px 0px rgba(0, 0, 0, 0.75);
}

.passwordContainer{
  position: relative;
  display: inline-block;
  width: 100%;
}

.passwordIcon {
  position: absolute;
  right: 20px;
  top: 50%;
  font-size: 23px;
  transform: translateY(-50%);
  cursor: pointer;
}